Main/lib/
out
sqlite
target
.idea

*.class

*.jar

*.lst

target/
.gradle
build
target
gradle
src/main/resources/com/cm/cm/fxml/misc/update_window.fxml
src/main/resources/com/cm/cm/fxml/misc/startup_view.fxml
src/main/java/com/cm/cm/updateConfig
target
